<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Thomas Kauai</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:300,400,600,700'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel="stylesheet" href="css/style.css?20210112">
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
</head>

<body>
<section id="app">

  <header class="container flex between middle"><!--bigger-->
    <div class="logo"><h1>Thomas Kauai</h1></div>
    <div class="contact"><a href="mailto:thomaskauai@gmail.com">thomaskauai@gmail.com</a></div>
  </header>  

  <section id="featured-text" class="container">
    <!-- <h2>Product Designer morando em Curitiba. Gosto de criar experiências agradáveis centradas no usuário<h2> -->
    <h2>Product Designer morando em Curitiba. Crio experiências digitais que geram impactos reais<h2>
    <!--   I'm a Product Designer based at Curitiba. I enjoy creating pleasant experiences centered on users.  -->
    <h3>Aberto a novas experiências profissionais</h3>
    <ul>    
      <li><a target="_blank" :href="links.resume">Full Resume</a></li>
      <li><a target="_blank" :href="links.behance">Behance</a></li>
      <li><a target="_blank" :href="links.linkedin">LinkedIn</a></li>
    </ul>
  </section>
  
  <!--  {{portfolio}} -->  
  <section id="portfolio" class="container flex wrap">
    <div class="item" v-for="(item, index) in portfolioJson" v-if="index < 6">
      <a v-bind:href="item.url" target="_blank">
        <img v-bind:src="item.covers.max_808">
        <h3>{{item.name}}</h3>
        <h4 class="fields"><span v-for="field in item.fields">{{field}}</span></h4>
      </a>
    </div>
  </section>
  <!--  {{portfolio}} -->  

  <section id="resume">
    <section class="container flex between">
      <article class="box main experiencias">
        <h2>Últimas Experiências</h2>
  
        <div
          v-for="(exp, index) in experiencias"
          :key="'exp-' + index"
          class="experiencia"
        >
          <h3 class="cargo">{{ exp.cargo }}</h3>
          <p v-if="exp.empresa" class="empresa-data">{{ exp.empresa }} <span v-if="exp.periodo">• {{ exp.periodo }}</span></p>
          <p class="descricao">{{ exp.descricao }}</p>
        </div>
      </article>
  
      <aside class="box aside formacao-cursos">
        <div class="formacao">
          <h2>Formação</h2>
  
          <div
            v-for="(f, index) in formacoes"
            :key="'form-' + index"
            class="item"
          >
            <p class="data">{{ f.periodo }}</p>
            <h3 class="titulo">{{ f.titulo }}</h3>
            <p class="instituicao">{{ f.instituicao }}</p>
          </div>
        </div>
  
        <hr />
  
        <div class="cursos">
          <h2>Cursos</h2>
  
          <div
            v-for="(c, index) in cursos"
            :key="'curso-' + index"
            class="item"
          >
            <p class="data">{{ c.data }}</p>
            <h3 class="titulo">{{ c.nome }}</h3>
            <p class="instituicao">{{ c.instituicao }}</p>
          </div>
        </div>
      </aside>
    </section>
  </section>
  
  

  <footer>
    <h4>Vamos nos conectar</h4>
    <p>Fique à vontade para me contatar se tiver ótimas oportunidades de trabalho ou só quiser bater um papo (;</p>
    <ul class="social">
      <li><a target="_blank" :href="links.linkedin"><i class="fa fa-linkedin"></i></a></li>
      <li><a target="_blank" :href="links.behance"><i class="fa fa-behance"></i></a></li>
      <li><a target="_blank" :href="links.instagram"><i class="fa fa-instagram"></i></a></li>
    </ul>
  </footer>

</section><!--#app-->


<!-- include js -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fetch-jsonp/1.1.3/fetch-jsonp.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue-ls/3.2.1/vue-ls.min.js'></script>
<script src="js/script.js?2"></script>

</body>
</html>